# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
real_world-*.tar

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/
/assets/.pnp
/assets/.pnp.js

# Frontend testing
/assets/coverage

# Frontend build
/assets/build

# Frontend misc
/assets/.env.local
/assets/.env.development.local
/assets/.env.test.local
/assets/.env.production.local
/assets/.e/assets/nv.production.local
/assets/npm-debug.log*
/assets/yarn-debug.log*
/assets/yarn-error.log*

# Misc
.DS_Store
Thumbs.db
.rpt2_cache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
