{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "babel",
  "proseWrap": "preserve",
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.less",
      "options": {
        "parser": "less"
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.d.ts"
      ],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ".*rc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}